node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.nyc_output
.coverage

# Arquivos e pastas gerados pelo Dart/Flutter
.dart_tool/
.packages
build/

# Arquivos específicos do Docker a serem ignorados
Dockerfile
.dockerignore