apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: electronic-lock-app
spec:
  selector:
    app: frontend
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
  type: LoadBalancer
